.LeftMenuContainer {
  flex: 2;
  display: flex;
  padding: 32px;
  justify-content: center;
}
.LeftMenuOptionContainer {
  padding: 12px;
}
.LeftMenuOptionContainer:hover {
  background-color: rgba(255, 255, 255, 0.103);
  border-radius: 16px;
  cursor: pointer;
}
.circle {
  height: 45px;
  width: 45px;
  background-color: #aa01d0;
  border-radius: 100%;
}
.menuItemContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  opacity: 0.7;
  gap: 8px;
}
.menuItemContainerSelected {
  opacity: 1;
}
.menuItemTitle {
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 6px;
}
