.LeftMenuContainer {
  position: fixed;
  left: 0;
  padding: 16px;
  z-index: 1;
  width: 20vw;
}
.LeftMenuContentContainer {
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: space-between;
}
.LeftMenuOptionContainer {
  padding: 12px;
}
.LeftMenuOptionContainer:hover {
  background-color: rgba(255, 255, 255, 0.103);
  border-radius: 16px;
  cursor: pointer;
}
.circle {
  height: 45px;
  width: 45px;
  background-color: #aa01d0;
  border-radius: 100%;
}
.menuItemContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  opacity: 0.7;
  gap: 8px;
}
.menuItemContainerSelected {
  opacity: 1;
}
.menuItemTitle {
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 6px;
}
.leftMenuMyProfileContainer {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  padding: 8px;
  display: flex;
}
.leftMenuMyProfileButton {
  width: 80%;
}
.leftMenuMyProfiletextContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.leftMenuMyProfileTitle {
  font-size: 14px;
  color: black;
  font-weight: 700;
}
.leftMenuMyProfileSubtitle {
  color: grey;
  font-size: 12px;
}
