.RightMenuContainer {
  flex: 1;
  padding: 32px;
}
input {
  background-color: rgb(78, 109, 140);
  border-radius: 24px;
  padding: 14px;
  width: 100%;
  border: 0px;
  font-size: 16px;
}
input::placeholder {
  color: white;
}
.RightOthersContainer {
}
