.postContainer {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 16px;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid blue;
}
.postContent {
  flex: 10;
  justify-content: start;
  text-align: start;
}
.postContentTopNames {
  display: flex;
  gap: 4px;
  align-items: center;
}
.postUserName {
  color: black;
  font-size: 16px;
  font-weight: 700;
}
.postUserSubName {
  font-size: 12px;
  color: grey;
  font-weight: 700;
}
.postContentDescription {
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.postContentImageContainer {
  height: 300px;
  width: auto;
  border-radius: 16px;
  margin-top: 16px;
  background-color: rgb(189, 189, 189);
}
.postContentBottom {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.postContentBottomText {
  margin-left: 4px;
  color: gray;
  font-size: 12px;
  font-weight: 600;
}
