.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    -45deg,
    #008eae,
    #2f80be,
    #309ed5,
    #2f80be,
    #008eae
  );
}
